@model MoviesAndFilmWebApp.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stars" class="control-label"></label>
                <input asp-for="Stars" class="form-control" />
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Writer" class="control-label"></label>
                <input asp-for="Writer" class="form-control" />
                <span asp-validation-for="Writer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRating" class="control-label"></label>
                <input asp-for="UserRating" class="form-control" />
                <span asp-validation-for="UserRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plot" class="control-label"></label>
                <input asp-for="Plot" class="form-control" />
                <span asp-validation-for="Plot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MPAARating" class="control-label"></label>
                <input asp-for="MPAARating" class="form-control" />
                <span asp-validation-for="MPAARating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RunTime" class="control-label"></label>
                <input asp-for="RunTime" class="form-control" />
                <span asp-validation-for="RunTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
